/.idea
/bin/*
!/bin/README.md
!/bin/goimports
!/bin/goimports.exe
!/bin/golint
!/bin/golint.exe
/pkg/*
!/pkg/README.md
/out
/projectFilesBackup
/src/golang.org/x
/src/gopl.io
/src/github.com/golang
/src/github.com/constabulary
